*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--background: #E5E5E5;
	--text-color: #fff;
	--error-color: #f9004d;
	--acierto-color: #432297;
	--input-color: #fff;
	--input-focus: #0075FF;
	--formulario-mensaje: #F66060;
	--background-boton-color: #000;
}

body{
	width: 800px;
	height: 800px;
	font-family: 'Roboto', sans-serif;
	background: var(--background);
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	background: #00467f; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#a5cc82,
		#00467f
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#a5cc82,
		#00467f
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	justify-content: center;
	align-items: center;
}

body::-webkit-scrollbar {
	width: 20px;
}

body::-webkit-scrollbar-track {
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background: #00467f; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#a5cc82,
		#00467f
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#a5cc82,
		#00467f
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/***************************/
main{
	width: 100%;
	min-width: 100vh;
	height: 100%;
	min-width: 100vh;
	padding: 10px 5%;
	margin: auto;
}
/***************************/
.formulario{
	background: transparent;
	width: 450px;
	height: 450px;
	margin: 10px 480px 20px;
}
/***************************/
h1{
	display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: 1;
	font-weight: bold;
	text-transform: uppercase;
}
/***************************/
img{
	margin-left: 5%;
}
/****************************/
img span{
	position: absolute;
	cursor: pointer;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/***************************/
.formulario__label{
	background: transparent;
	display: block;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}
/***************************/
input{
	font-weight: bold;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/***************************/
.formulario__grupo-input{
	display: flex;
	position: relative;
	padding: 0px 45px 0% 5%;
}
/***************************/
.formulario__grupo-input i{
	position: absolute;
	left: 80%;
	margin: 0px auto;
}

.formulario__input{
	display: inline;
	width: 100vh;
	background-color: transparent;
	border: 3px solid var(--background-boton-color);
	margin: 0px auto;
	border-radius: 15px;
	height: 45px;
	line-height: 45px;
	padding: 0% 20px 0% 5px;
}

.formulario__input:focus{
	border: 3px solid var(--input-focus);
	outline: none;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/***************************/
.formulario__input-error{
	font-size: 12px;
	margin-bottom: 0%;
	display: none;
}
/***************************/
.formulario__input-error-activo{
	display: block;
}
/***************************/
.formulario__validacion-estado{
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
/***************************/
.formulario__checkbox{
	margin: 5%;
}
/***************************/
.formulario__grupo-terminos
.formulario__mensaje
.formulario__grupo-boton-enviar{
	grid-column: span 2;
}
/***************************/
.formulario__mensaje{
	height: 45px;
	line-height: 45px;
	background: var(--formulario-mensaje);
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}
/***************************/
.formulario__mensaje-activo{
	display: block;
}
/***************************/
p{
	text-align: left;
	padding: 10px;
	font-weight: bold;
}
/***************************/
.formulario__mensaje p{
	margin: 0%;
	padding: 0%;
}
/***************************/
.formulario__grupo-boton-enviar{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/***************************/
.formulario__boton{
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	background: #00467f; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#a5cc82,
		#00467f
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#a5cc82,
		#00467f
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	width: 100px;
	max-width: 100px;
	margin: 5px auto;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
}
/*************************************/
.formulario__boton:hover {
	transform: scale(1.2);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/*************************************/
.formulario__mensaje-exito{
	font-size: 14px;
	color: var(--acierto-color);
	display: none;
}
/*************************************/
.formulario__mensaje-exito-activo{
	display: block;
}
/* ----- -----  Estilos Para Grupo-Correcto Validacion-Estado ----- ----- */
.formulario__grupo-correcto .formulario__label{
	color: var(--acierto-color);
}

.formulario__grupo-correcto .formulario__validacion-estado{
	color: var(--acierto-color);
	opacity: 1;
}

.formulario__grupo-correcto .formulario__input{
	border: 3px solid var(--acierto-color);
}

.formulario__grupo-correcto, .formulario__grupo-input{
    color: var(--acierto-color);
}

/* ----- -----  Estilos Para Grupo-Incorrecto Validacion-Estado ----- ----- */
.formulario__grupo-incorrecto .formulario__label{
	color: var(--error-color);
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
	color: var(--error-color);
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid var(--error-color);
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos
	.formulario__mensaje
	.formulario__grupo-boton-enviar {
	grid-column: 1;
	}

	.formulario__boton {
		width: 100%;
	}
}