*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}
html, body {
  background: var(--bg-color);
  color: var(--text-color);
}
:root{
  --bg-color: #101010;
  --secound-bg-color: #191919;
  --secound-color: #c6c9d8bf;
  --h2-font: 4.2rem;
  --p-font: 1.1rem;
}
.about{
  background: var(--secound-bg-color);
  margin: 150px;
  display: grid;
  align-items: center;
  grid-gap: 2rem;
}
.about-text h2{
  color: var(--secound-color);
  font-size: var(--h2-font);
  margin-bottom: 20px;
}
.about-text h5{
  color: var(--secound-color);
  font-size: 28px;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.about-text p{
  color: var(--secound-color);
  letter-spacing: 1px;
  line-height: 28px;
  max-width: 590px;
  font-size: var(--p-font);
  margin-bottom: 45px;
}
