*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --bg-color: #101010;
  --secound-bg-color: #191919;
  --text-color: #fff;
  --secound-color: #c6c9d8bf;
  --big-font: 5.3rem;
  --h2-font: 4.2rem;
  --p-font: 1.1rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section{
  padding: 120px 15%;
}
.services{
  background: var(--bg-color);
}
.center{
  text-align: center;
}
.center h2{
  font-size: var(--h2-font);
  margin-bottom: 15px;
}
.center p{
  color: var(--secound-color);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: var(--p-font);
  text-align: center;
}
.service-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.5rem;
  cursor: pointer;
}
.row{
  background: var(--secound-bg-color);
  padding: 55px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .35s;
}
.row i{
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 2.7rem;
}
.row h3{
  color: var(--text-color);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.row p{
  color: var(--secound-color);
  line-height: 30px;
  font-size: var(--p-font);
}
.row:hover{
  transform: translateY(-8px);
}