*{
  margin: 0;
  padding: 0;
}
html, body {
  background: var(--bg-color);
}
:root{
  --bg-color: #101010;
  --h2-font: 4.2rem;
  --p-font: 1.1rem;
}
.p{
  text-align: var(--p-font);
}
.h2{
  text-align: var(--h2-font);
}