*{
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  float: left;
  height: 65px;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 35px;
  background-color: red;
}

nav {
  float: left;
  height: 40px;
  width: 100%;
  background-color: lightblue;
}

nav ul li {
  float: left;
  list-style: none;
  margin: 10px;
  line-height: 1px;
}

.sidebarleft {
  float: left;
  width: 25%;
  height: 495px;
  color: white;
  background-color: khaki;
}

.clearfix {
  clear: both;
}

.content {
  float: left;
  text-align: left;
  width: 50%;
  height: 495px;
  background-color: lightgreen;
}

#article {
  color: white;
  border-bottom: 1px solid #eee;
}

#article:first-child {
  border-top: 1px solid #eee;
}

#article h2 {
  font-size: 16px;
}

.sidebarright {
  float: left;
  width: 25%;
  height: 495px;
  color: white;
  background-color: khaki;
}

#buscar {
  float: left;
  margin: 3px;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 900px;
}

.footer {
  float: left;
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 3px;
  background-color: lightslategray;
}
